parameters:
    level: 0
    paths:
        - app
        - config
        - database
        - routes
        - tests
    excludePaths:
        - storage
        - vendor
        - node_modules
        - bootstrap/cache
    ignoreErrors:
        - '#Call to static method info\(\) on an unknown class Log#'
        - '#Class App\\Http\\Controllers\\Api\\.* not found#'
        - '#Undefined variable: \$this#'
        - '#Call to static method statement\(\) on an unknown class DB#'
    universalObjectCratesClasses:
        - Illuminate\Http\Request
        - Illuminate\Support\Collection
