parameters:
    level: 6
    paths:
        - app
        - config
        - database
        - routes
        - tests
    excludePaths:
        - storage
        - vendor
        - node_modules
        - bootstrap/cache
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder#'
        - '#Access to an undefined property Illuminate\\Database\\Eloquent\\Model#'
        - '#Cannot call method .* on mixed#'
        - '#Property .* does not accept mixed#'
        - '#Unsafe usage of new static#'
    universalObjectCratesClasses:
        - Illuminate\Http\Request
        - Illuminate\Support\Collection
